@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Chivo Mono", monospace;
}
@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-teal-800;
  }
}

@layer components {
  /* .printTab {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  } */
  .printTab {
    @apply grid w-full grid-cols-1 items-center justify-center gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4;
  }
  .titleText {
    @apply mb-4 text-center text-2xl text-teal-800 md:text-4xl;
  }
  .navLinks {
    @apply flex items-center space-x-2 text-xs uppercase leading-7 text-gray-500;
  }
  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
      no-repeat;
    background-size: 100% 2px;
  }
  .tabPanel {
    @apply grid w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  }
  .productBtn {
    @apply border border-teal-600 bg-teal-100/50 px-8 py-2.5 outline-none transition duration-300 hover:bg-teal-200;
  }
  .smallCartBtn {
    @apply w-8 border border-teal-600 bg-teal-300;
  }
}
